# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
pip-log.txt
pip-delete-this-directory.txt
.pytest_cache/
.coverage
.coverage.*
coverage.json
coverage.lcov
htmlcov/
*.cover
.hypothesis/
.venv/
venv/
ENV/
env/

# MkDocs
site/
docs/_build/

# Database files
*.db
*.sqlite
*.sqlite3

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Linting and Type Checking
.mypy_cache/
mypy-report/
.ruff_cache/
.pylint.d/
.pytype/

# Workspace root folder
/workspace/

# OS
.DS_Store
Thumbs.db
inputs/vmware-inv.xlsx
inputs/IAAS.xlsx
/data/
